{% extends 'layout.html' %}

{% block title %} Register {% endblock %}

{% block content %}

<body>
  <form method="POST" action="">
    <div class="form">
      <h1 style="margin: 0 0 2rem 0;">Register</h1>
      <p style="margin: -1.618rem 0 0.618rem 0; color: #8e8e8e;">In order not to forget, we recommend that you<br />
        use an
        easily memorable password :)</p>
      {{ form.hidden_tag() }} {{ form.username (class="form-control")}}
      {{ form.password
      (class="form-control")}}
      <a href="{{ url_for('login') }}">Already have an account?</a>{{
      form.submit (class="btn btn-primary") }}
  </form>
  </div>
</body>

{% endblock %}