{% extends 'layout.html' %}

{% block title %} Update {{car.name}} {% endblock %}

{% block content %}

<body>
  <h1>Update </h1>
  <form action="" method="post">
    <div class="field">
      <div class="form">
        <input class="form-control form-control-sm" name="car_name" value="{{car.name}}" placeholder="{{car.name}}" />

        <select name="car_color" class="form-select form-select-sm">
          <option name="car_color" value="{{car.color}}">{{car.color}}</option>
          <option name="car_color" value="Amarelo">Amarelo</option>
          <option name="car_color" value="Cinza">Cinza</option>
          <option name="car_color" value="Azul">Azul</option>
        </select>

        <select name="car_model" class="form-select form-select-sm" aria-label="Default select example">
          <option name="car_color" value="{{car.model}}">{{car.model}}</option>
          <option name="car_model" value="Escotilha">Escotilha</option>
          <option name="car_model" value="Sedan">Sedan</option>
          <option name="car_model" value="Conversível">Conversível</option>
        </select>

        <select name="car_owner" class="form-select form-select-sm" aria-label="Default select example">
          <option name="car_owner" value="" disabled selected hidden>
            {{car.owner_id}}
          </option>
          {% for person in persons %}
          <option name="car_owner" value="{{car.owner_id}}">
            {{person.name}}
          </option>
          {% endfor %}
        </select>

        {% with messages = get_flashed_messages() %} {% if messages %} {%
        for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock
        %}
        <button type="submit" class="btn btn-success" style="
              --bs-btn-padding-y: 0.16rem;
              --bs-btn-padding-x: 1.618rem;
              --bs-btn-font-size: 0.75rem;
            ">
          Add
        </button>
      </div>
    </div>
  </form>
</body>

{% endblock %}