{% extends 'layout.html' %}

{% block title %} Update {{person.name}} {% endblock %}

{% block content %}

<body>
  <h1>Update </h1>
  <form class="ui form" action="" method="post">
    <div class="form">
      <div class="field">
        <input class="form-control form-control-sm" name="owner_name" type="text" placeholder="{{person.name}}"
          value="{{person.owner_name}}" />
      </div>
      <button type="submit" class="btn btn-success" style="
            --bs-btn-padding-y: 0.16rem;
            --bs-btn-padding-x: 1.618rem;
            --bs-btn-font-size: 0.75rem;
          ">
        Add
      </button>
    </div>
  </form>
</body>

{% endblock %}